body{
	font-family: 'Allerta', sans-serif;
	padding: 0;
	margin: 0;
}

.titulo{
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom:  0;
	margin-top: 60px;
}

.title-a{
	font-size: 24px;
	margin-top: 0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

#guitarras{
	color: #1f313c;
}
#guitarras h2{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 30px;

}

#portada{
	padding: 20px;
	color: #fff;
	background-image: url("../images/background.png");
	background-size: cover;
}

#portada button{
	margin-bottom: 70px;
	border-radius: 8px;
	color: white;
	background-color: #fd324e;
	border: none;
	padding: 10px;
}


.logotipo{
	display: inline-block;
}

#header{
	position: relative;
}

.menu{
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li{
	display: inline-block;
	margin-left: 30px;
}


.container{
	width: 800px;
	margin: auto;
}

.guitarra{
	padding: 10px;
	margin: 20px;
	border: 2px solid #1f313c;
<<<<<<< HEAD
	border-radius: 10px;
=======
	border-radius: 20px;
>>>>>>> 36f5813... Agregando estilos
}

.derecha{
	float: right;
	position: relative;
	top: -127px;
}

.izquierda{
	float:left;
	position: relative;
	top: 80px;
}

.contenedor-guitarra-a{
  padding-left:20px;
}

.contenedor-guitarra-b{
  margin-left: 370px;
<<<<<<< HEAD
}

.footer{
	background-color: #273b47;
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
=======
>>>>>>> 36f5813... Agregando estilos
}